@using StockManagementSystemMVCWebApp.Models
@model Item
@{
    ViewBag.Title = "Save";
    Layout = null;
    List<Company> companyList = ViewBag.companyList;
    List<Item> items=new List<Item>();
    Item input=new Item();
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<form>
    <table>
        <tr>
            <td>
                <label for="CompanyId">Company</label>
            </td>
            <td>
                <select id="CompanyId" name="CompanyId">
                    <option value="">--Select--</option>
                    @foreach (Company company in companyList)
                    {
                        <option value="@company.Id">@company.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Id">Item</label>
            </td>
            <td>
                <select id="Id" name="Id">
                    <option value="">--Select--</option>

                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="ReorderLevel">Reorder Level</label>
            </td>
            <td>
                <input id="ReorderLevel" name="ReorderLevel" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="AvailableQuantity">Available Quantity</label>
            </td>
            <td>
                <input id="AvailableQuantity" name="AvailableQuantity" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Stockout">Stock Out</label>
            </td>
            <td>
                <input id="Stockout" name="Stockout" type="text" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" value="Add" onclick="submitbutton()"/>
            </td>
        </tr>
    </table>
</form>

<!--form 2-->
<form method="POST">
    <table>
        <tr>
            <td>
                <table id="myTable">
                    <tr><td>Item</td><td>Company</td><td>Quantity</td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
        </tr>
    </table>
    

</form>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
    $(document).ready(function() {
        $("#CompanyId").change(function () {

            var companyId = $("#CompanyId").val();
            //var vList = '@ViewBag.companyList';

            
            var json = { comId: companyId};


            $.ajax({
                type: "POST",
                url: '@Url.Action("GetItemsByCompanyId", "Item")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {

                    $("#Id").empty();
                    $("#Id").append('<option value="">--SELECT--</option>');


                    $.each(data, function (key, value) {

                        $("#Id").append('<option value=' + value.Id + '>' + value.Name + '</option>');

                    });

                }
            });

        });

        $("#Id").change(function () {

            var iId = $("#Id").val();


            var json = { id: iId };


            $.ajax({
                type: "POST",
                url: '@Url.Action("GetInfoByItemId", "Item")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {

                    $("#ReorderLevel").val(data.ReorderLevel);
                    $("#AvailableQuantity").val(data.AvailableQuantity);



                }
            });

        });
    });

    function submitbutton() {
        var company = $("#CompanyId").val();
        var item = $("#Id").val();
        var aquantity = $("#AvailableQuantity").val();
        var stockout = $("#Stockout").val();
        //input.Id= $("#CompanyId").val();
        $("#Name").val("");
        $("#Roll").val('');
        //console.log(input.Id);
        if (aquantity < stockout) {
            console.log("It's not possble");
        }
        $('#myTable').append('<tr><td id="Id">' + item + '</td><td id="CompanyId">' + company + '</td><td id="Stockout">' + stockout + '</td></tr>');

        /*$('#myTable').append('<tr><td>my data</td><td>more data</td></tr>');
        $('#myTable').append('<tr><td>my data</td><td>more data</td></tr>');
        $('#myTable').append('<tr><td>my data</td><td>more data</td></tr>');
        $('#myTable').append('<tr><td>my data</td><td>more data</td></tr>');*/

        $('#myTable').show();
        //$('#p').val(name);
        //$('#q').text(roll);
    }
    </script>

</body>
</html>

