@using StockManagementSystemMVCWebApp.Models
@model Category
@{
    ViewBag.Title = "Save";
    Layout = "../Shared/_LOut.cshtml";
    List<Category> categoryList = ViewBag.categories;
}


@section style
{
    <style>
        label.error {
            color: red;
        }
    </style>


}

<h2>Category</h2>

    <form method="POST" id="signUpForm">
        <table class="data" style="color: rebeccapurple;">
            <tr>
                <td>
                    <label for="Name">Name</label>
                </td>
                <td>
                    <input id="Name" name="Name" type="text" />
                    @Html.ValidationMessage("Name")
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" />
                </td>
            </tr>
        </table>
    </form>

    @if(ViewBag.message != null)
    {
        <script>
            alert("@ViewBag.message");
        </script>
        <h3>@ViewBag.message</h3>
    }


    <table class="data" style="color: rebeccapurple;">
    <tr>
        <td>SL</td>
        <td>Name</td>
        <td>Action</td>
    </tr>
    @foreach (Category category in categoryList)
    {
        <tr>
            <td>@category.Sl</td>
            <td>@category.Name</td>
            <td>@Html.ActionLink("Edit", "Update", new { id = category.Id, name = category.Name })</td>
        </tr>
    }
</table>

@section scripts
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $("#signUpForm").validate({
            rules: {
                Name: "required"

            },
            messages: {
                Name: "Please enter Name"

            }
        });
    </script>

}



